<!DOCTYPE html>
<html>
    <head>
        <title>Тюнинг авто в Краснодаре</title>
        <link rel="stylesheet" href="main.css">
        <script src="main.js"></script>
    </head>
    <body>
        <div class="toolbar top-toolbar">
            <span class="toolbar-menu-item">Тюнинг авто в краснодера</span>
            <span class="toolbar-menu-item">
                <span>Пн-пт: с 9.00 до 20.00</span>
                <span>Суб-вс: с 9.00 до 19.00</span>
            </span>
            <span class="toolbar-menu-item">
                <span>8 (861) 206-79-17</span>
                <span>8 (861) 206-93-18</span>
            </span>
            <button class="top-toolbar-button">Обратный звонок</button>
            <button class="top-toolbar-button">Написать в WhatsApp</button>
            <button class="top-toolbar-button">Написать в Telegram</button>
        </div>
        <div class="toolbar bottom-toolbar">
            <span class="toolbar-menu-item">УСЛУГИ</span>
            <span class="toolbar-menu-item">НАШИ РАБОТЫ</span>
            <span class="toolbar-menu-item">О КОМПАНИИ</span>
            <span class="toolbar-menu-item">КОНТАКТЫ</span>
            <span class="toolbar-menu-item">НАШИ СОЦ. СЕТИ</span>
            <span class="toolbar-menu-item">НАШИ НАПРАВЛЕНИЯ</span>
            <span class="toolbar-menu-item">ВАКАНСИИ</span>
            <input placeholder="Поиск...">
        </div>
        <div>
            <div class="preview">
                <h1>Оклейка авто виниловой пленкой в Краснодаре</h1>
                <span>Скидки до 20% до 30 января!</span>
                <button>РАССЧИТАТЬ ЦЕНУ</button>
            </div>
        </div>
        <div class="projects">
            <span>Наши проекты</span>
        </div>
        <div class="advantages">
            <span>Преимущества</span>
            <div class="advantages-grid">
                <div>
                    <span>Индивидуальный дизайн</span>
                </div>
                <div>
                    <span>Индивидуальный дизайн</span>
                </div>
                <div>
                    <span>Индивидуальный дизайн</span>
                </div>
                <div>
                    <span>Индивидуальный дизайн</span>
                </div>
                <div>
                    <span>Индивидуальный дизайн</span>
                </div>
                <div>
                    <span>Индивидуальный дизайн</span>
                </div>
            </div>
        </div>
    </body>
</html>